@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21,13px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.page-header {
  background-color: #ffe17f;
}

.field-serch {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  color: #000000;
  background-color: #ffe17f;
  border: hidden;
}

.user-link {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  color: #444444;
}

.main-inner {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.slider-list {
  text-align: left;
}

.slider-number {
  font-size: 180px;
  line-height: 30px;
  font-weight: 800;
  text-align: right;
  color: #ffffff;
}

.slider-description-term {
  font-size: 36px;
  color: #000000;
}

.slider-description-definition {
  font-size: 16px;
}

.catalog-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.catalog-item-vr::before {
  content: "";
  width: 160px;
  height: 160px;
  background: #ffe17f url(/img/vr.svg) no-repeat center center;
  display: block;
}

.catalog-item-monopod::before {
  content: "";
  width: 160px;
  height: 160px;
  background: #ffe17f url(/img/monopod.svg) no-repeat center center;
  display: block;
}

.catalog-item-action-camera::before {
  content: "";
  width: 160px;
  height: 160px;
  background: #ffe17f url(/img/action-camera.svg) no-repeat center center;
  display: block;
}

.catalog-item-fitness-bracelets::before {
  content: "";
  width: 160px;
  height: 160px;
  background: #ffe17f url(/img/fitness-bracelet.svg) no-repeat center center;
  display: block;
}

.catalog-item-smart-watch::before {
  content: "";
  width: 160px;
  height: 160px;
  background: #ffe17f url(/img/smart-watch.svg) no-repeat center center;
  display: block;
}

.catalog-item-product-quadcopter::before {
  content: "";
  width: 160px;
  height: 160px;
  background: #ffe17f url(/img/quadcopter.svg) no-repeat center center;
  display: block;
}

.services {
  text-align: left;
  background-color: #F0F0F0;
}

.appointment {
  text-align: center;
  background-color: #F0F0F0;
}

.delivery-block {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.appointment-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #F0F0F0;
  text-decoration: none;
  text-transform: uppercase;
}

.information-section {
  text-align: left;
}

.transport-company-list {
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.contacts {
  text-align: left;
}

.contacts-address-text {
font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contacts
h3,
h4 {
  font-size: 24px;
  font-weight: 700;
}

.distribution {
  background-color: #F0F0F0;
}

.field-distribution-email {
  opacity: 0.5;
  background-color: #F0F0F0;
  border: hidden;
}

.distribution-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.adress {
  font-size: 16px;
  line-height: 19px;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 50px;
}

.footer-phone {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.user-cabinet-off {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  opacity: 0.3;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link {
  opacity: 0.6;
  color: #000000;
  text-decoration: none;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  background-color: #DCDCDC;
  text-transform: uppercase;
}

.catalog-filter {
  background-color: #EBEBEB;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-container {
  color: #000000;
  background-color: #EBEBEB;
}

.sorting-label {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-card-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.product-card-new {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.2em;
  opacity: 0.6;
  text-transform: uppercase;
}

.show-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination {
background-color: #EBEBEB;
}

.pagination-link {
  color: #444444;
  text-decoration: none;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}




