body {
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  width: 1160px;
  height: 300px;
  background: #ffe17f;
}

.services {
  color: #444444;
  background: #F0F0F0;
}

.distribution {
  color: #444444;
  background: #F0F0F0;
}

.page-footer {
  color: #ffffff;
  background: #444444;
}

.catalog-products-title {
  background: #DCDCDC;
}

.catalog-filter {
  background: #EBEBEB;
}


