@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding-top: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
}

.button:focus::before  {
  background-color: #AF4FFF;
}

.button:hover {
  background-color: #FFE17F;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #FFE17F;
}

.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  margin: 0;
}

:focus {
  outline: unset;
}

.header-container {
  width: 1080px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 152px;
  background-color: #FFE17F;
}

.page-header-logo-link {
  padding: 0 8px;
  width: 145px;
  height: 36px;
  display: block;
  transform: translateY(-22px);
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
}

.user-search-form {
  margin-right: 4px;
  padding-left: 16px;
  width: 500px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 1, 0);
  border-radius: 50px;
}

.user-search-form:focus-within {
  box-shadow: inset 0 0 0 2px #AF4FFF;
}

.user-search-form:active {
  box-shadow: inset 0 0 0 2px #000000;
}

.field-search {
  padding: 0;
  margin-left: 20px;
  width: 295px;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  color: #000000;
  background-color: #FFE17F;
  border: hidden;
  outline: unset;
}

.user-search-form:hover .field-search {
  opacity: 0.6;
}

.user-search-form:active .field-search {
  opacity: 1;
}

.search-button {
  padding: 0;
  width: 160px;
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #000000;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 0;
}

.user-search-form:focus-within .search-button {
  opacity: 1;
  box-shadow: inset 0 0 0 2px #AF4FFF;
}

.user-search-form:hover .search-button {
  opacity: 1;
}

.search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  opacity: 1;
}

.user-search-form:active .search-button {
  opacity: 1;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  opacity: 1;
}

.user-link {
  padding: 10px 21px;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.user-icon {
  padding-right: 10px;
}

.user-item {
  align-self: center;
}

.user-item:nth-child(2) {
  min-width: 248px;
  margin-right: 20px;
}

.user-item:nth-child(4) {
  margin-left: auto;
  position: relative;
}

.number-of-products {
  position: absolute;
  top: 5px;
  left: 5px;
  padding-top: 2px;
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.user-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  border-radius: 50px;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:active {
  opacity: 0.3;
}

.navigation {
  margin-top: 44px;
}

.navigation-link {
  padding: 15px 20px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.navigation-link::after {
  position: absolute;
  left: 20px;
  right: 0;
  bottom: 10px;
  content: "";
  width: 75%;
  height: 2px;
  background-color: #000000;
  opacity: 0;
}

.navigation-catalog-link::after {
  background-color: transparent;
}

.navigation-item:nth-child(1) {
  margin-right: 254px;
}

.navigation-item:nth-child(4) {
 margin-left: auto;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  border-radius: 50px;
}

.navigation-link:hover::after{
  opacity: 1;
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-link:active::after {
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #444444;
  margin-top: -150px;
}

.main-inner {
  padding-top: 37px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.slider  {
  margin-bottom: 70px;
}

.slider-item {
  display: flex;
  position: relative;
}

.slider-item-container {
  margin-top: 121px;
  margin-left: 40px;
  text-align: left;
}

.slider-item::after {
  content: attr(data-number);
  font-size: 180px;
  line-height: 30px;
  font-weight: 800;
  color: #FFFFFF;
  position: absolute;
  top: 87px;
  right: 49px;
  z-index: 1;
}

.slider-item * {
  position: relative;
  z-index: 2;
}

.slider-title {
  margin-bottom: 19px;
}

.slider-information {
  margin-top: 0;
}

.button-slider {
  width: 220px;
  margin-top: 35px;
  margin-bottom: 65px;
  display: block;
}

.slider-description-container {
  margin-right: 20px;
}

.slider-description-term {
  margin-bottom: 15px;
  font-size: 36px;
  color: #000000;
}

.slider-description-definition {
  margin-top: 0;
  margin-left: 0;
  font-size: 16px;
}

.categories-list {
  justify-content: space-between;
}

.categories-item {
  width: 160px;
  margin-right: 40px;
}

.categories-item:nth-child(6n) {
  margin-right: 0;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  text-decoration: none;
  display: block;
  position: relative;
}

.categories-link::before {
  margin-bottom: 33px;
  content: "";
  width: 160px;
  height: 160px;
  display: block;
  background-color: #FFE17F;
  position: relative;
}

.categories-link::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 160px;
  height: 160px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.vr-link::after {
  background-image: url("../img/glasses-vr.svg");
}

.monopod-link::after {
  background-image: url("../img/monopod.svg");
}

.action-camera-link::after {
  background-image: url("../img/action-camera.svg");
}

.fitness-bracelets-link::after {
  background-image: url("../img/fitness-bracelet.svg");
}

.smart-watch-link::after {
  background-image: url("../img/smart-watch.svg");
}

.quadcopter-link::after {
  background-image: url("../img/quadcopter.svg");
}

.categories-link:focus {
  color: #AF4FFF;
}

.categories-link:focus::before {
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.categories-link:hover::before {
  background-color: #FFC700;
}

.categories-link:active {
  color: rgba(0, 0, 1, 0.2);
}

.categories-link:active::before {
  background-color: #FFC700;
}

.categories-link:active::after {
 opacity: 0.3;
}

.services {
  margin-top: 175px;
  margin-bottom: 90px;
  text-align: left;
  background-color: #F0F0F0;
}

.services-container {
  transform: translateY(-98px);
}

.services-list {
  flex-grow: 1;
}

.services-item {
  display: none;
  position: relative;
}

.services-item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-delivery::after {
  background-image: url("../img/delivery.svg");
  width: 136px;
  height: 164px;
  top: 20px;
  right: 20px;
}

.services-item-warranty::after {
  background-image: url("../img/warranty.svg");
  width: 171px;
  height: 195px;
  top: -10px;
  right: 50px;
}

.services-item-credit::after {
  background-image: url("../img/credit.svg");
  width: 156px;
  height: 188px;
  top: -15px;
  right: 60px;
}

.services-item-current {
  display: block;
}

.services-title {
  margin-top: 70px;
  margin-bottom: 34px;
}

.services-description {
  margin-top: 0;
  width: 497px;
}

.slider-service-list {
  width: 277px;
  order: -1;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-right: 116px;
  border-right: 7px solid #000000;
}

.service-button {
  width: 160px;
  padding-top: 9px;
  padding-bottom: 11px;
}

.service-button::before {
  background-color: #FFC700;
}

.service-button:hover {
  background-color: #FFC700;
}

.service-button:active {
  background-color: #000000;
  padding-right: 120px;
  width: 277px;
  color: #FFE17F;
}

.service-button-current {
  background-color: #000000;
  padding-right: 120px;
  width: 277px;
  display: block;
  color: #FFE17F;
}

.slider-servise-item {
  margin-bottom: 35px;
}

.slider-servise-item:nth-child(3) {
  margin-bottom: 0;
}

.appointment {
  width: 1160px;
  margin-bottom: 97px;
  text-align: center;
  background-color: #F0F0F0;
}

.appointment:hover {
  background-color: #EBEBEB;
}

.appointment-link {
  justify-content: space-between;
  align-items: center;
  padding-right: 33px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.appointment-link:focus {
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.appointment-link::before {
  content: "";
  width: 125px;
  height: 100px;
  display: block;
  background-color: #FFE17F;
  position: relative;
}

.appointment-link:focus::before {
  box-shadow: inset 5px 5px 0 0 #AF4FFF,
              inset 0 -5px 0 0 #AF4FFF;
}

.appointment-link:hover::before {
  background-color: #FFC700;
}

.appointment-link:active::before {
  background-color: #FFC700;
}

.appointment-link::after {
  position: absolute;
  content: "";
  width: 125px;
  height: 100px;
  display: block;
  background-image: url("../img/icons/delivery-track.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.appointment-link:active::after {
  opacity: 0.3;
}

.appointment-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
}

.appointment-link:active .appointment-title {
  opacity: 0.3;
}

.info {
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50px;
  display: block;
  border: none;
}

.appointment-link:hover .info {
  background-color: #DCDCDC;
}

.info:active {
  background-color: #DCDCDC;
}

.info-icon {
 opacity: 0.3;
}

.appointment-link:hover .info-icon {
  opacity: 1;
}

.index-columns {
  display: flex;
  margin-bottom: 87px;
  text-align: left;
  position: relative;
}

.information-section::before,
.contacts::before {
  content:'';
  position: absolute;
  width: 80px;
  border-bottom: 7px solid #000000;
}

.information-section {
  width: 497px;
  margin-right: 103px;
}

.title-index-colums {
  margin-top: 49px;
  margin-bottom: 40px;
}

.information-description:nth-of-type(2) {
  margin-top: 30px;
}

.transport-company-list {
  margin-top: 70px;
  margin-bottom: 70px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.transport-company-item {
  margin-bottom: 20px;
}

.transport-company-item:nth-child(3) {
  margin-bottom: 0;
}

.button-more-us {
  width: 260px;
  display: block;
}

.button-feedback {
  width: 260px;
  display: block;
}

.contacts {
  width: 515px;
}

.contacts-address-text {
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: #444444;
}

.contacts-subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address-text {
  margin: 0;
}

.contacts-schedule {
  margin-bottom: 60px;
}

.distribution {
  background-color: #F0F0F0;
}

.distribution-container {
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 131px;
}

.distribution-title,
.distribution-description {
  width: 560px;
}

.distribution-description {
  margin: 0;
}

.distribution-form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 860px;
  margin-top: 40px;
}

.field-distribution-email {
  padding-top: 13px;
  padding-bottom: 9px;
  height: 30px;
  opacity: 0.5;
  background-color: #F0F0F0;
  border: hidden;
  border-bottom: 3px solid rgba(0, 0, 1, 0.2);
  flex-grow: 1;
}

.field-distribution-email:focus {
  background-color: #DCDCDC;
}

.field-distribution-email:hover {
  opacity: 0.7;
  border-bottom: 3px solid rgba(0, 0, 1, 0.2);
}

.field-distribution-email:active {
  opacity: 1;
  border-bottom: 3px solid #000000;
}

.field-distribution-email:disabled {
  opacity: 1;
  border-bottom: 3px solid rgba(255, 61, 61, 1);
}

.distribution-button {
  display: inline-block;
  width: 260px;
  height: 55px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 1, 0.1);
  cursor: pointer;
}

.distribution-button:focus {
  border-color: #AF4FFF;
}

.distribution-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border-color: transparent;
}

.distribution-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border-color: transparent;
}

.distribution-clarification {
  padding-left: 35px;
  margin: 0;
  align-self: flex-end;
  background-image: url("../img/icons/check-mark.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
}

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer-container {
  justify-content: space-between;
  padding: 62px 0;
  width: 1160px;
  margin: 0 auto;
}

.footer-address-logo {
  position: relative;
}

.footer-address-logo ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 35px;
  width: 80px;
  border-bottom: 7px solid #FFC700;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-logo-link svg {
  fill: #FFC700;
}

.address {
  width: 250px;
  margin-right: auto;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}

.navigation-social {
  margin-top: 85px;
}

.footer-navigation-list {
  margin-bottom: 49px;
}

.footer-navigation-link {
  padding: 14px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.footer-navigation-link::after {
  position: absolute;
  left: 20px;
  right: 0;
  bottom: 10px;
  content: "";
  width: 75%;
  height: 2px;
  background-color: #FFC700;
  opacity: 0;
}

.footer-navigation-item:nth-child(3n) {
  margin-right: 0;
}

.footer-navigation-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  border-radius: 50px;
}

.footer-navigation-link:hover {
  color: #FFC700;
}

.footer-navigation-link:hover::after {
  opacity: 1;
}

.footer-navigation-link:active {
  color:rgba(255, 199, 0, 0.3);
}

.footer-navigation-link:active::after {
  opacity: 0.3;
}

.footer-social-list {
  justify-content: center;
}

.footer-social-item {
  margin-right: 15px;
}

.social-icon-link {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: block;
  position: relative;
}

.social-icon-link:focus {
  box-shadow: inset 0 0 0 5px #AF4FFF;
  background-color: #444444;
}

.social-icon-link:hover {
  background-color: #FFC700;
}

.social-icon-link:active {
  background-color: #FFC700;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  fill: #444444;
}

.social-icon-link:focus svg {
  fill: #FFFFFF;
}

.social-icon-link:active svg {
  fill-opacity: 0.3;
}

.footer-phone-htmlacademy-logo {
  margin-top: 85px;
}

.footer-phone,
.htmlacademy-logo {
  margin: 0;
  margin-left: auto;
  text-align: right;
}

.footer-phone {
  margin-bottom: 50px;
}

.footer-phone-link {
  padding: 5px 15px;
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-phone-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  border-radius: 50px;
}

.footer-phone-link:hover {
  color: #FFC700;
}

.footer-phone-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.htmlacademy-link {
  padding: 10px;
  width: 115px;
  height: 33px;
  display: inline-block
}

.htmlacademy-icon {
  fill: #FFC700;
}

.htmlacademy-link:focus {
  box-shadow: inset 0 0 0 2px #AF4FFF;
  border-radius: 10px;
}

.htmlacademy-link:hover svg {
  fill: #FFFFFF;
}

.htmlacademy-link:active svg {
  fill: #FFFFFF;
  fill-opacity: 0.3;
}

.header-container-inner {
  padding-bottom: 53px;
}

.user-cabinet-off {
  padding: 10px 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.page-container-inner {
  box-sizing: border-box;
  padding-left: 60px;
}

.inner-header {
  margin-bottom: 49px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 14px;
}

.breadcrumbs-list {
  margin-left: -12px;
}

.breadcrumbs-item {
  margin-right: 12px;
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  right: -8px;
  top: 35%;
  content: "";
  width: 4px;
  height: 7px;
  display: block;
  background: url("../img/icons/breadcrumbs-arrow.svg") no-repeat center;
}

.breadcrumbs-current::after {
  opacity: 0;
}

.breadcrumbs-item:nth-last-child(1) {
  margin-right: 0;
}

.breadcrumbs-link {
  padding: 6px 12px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.breadcrumbs-link:focus {
  box-shadow: 0 0 0 5px #AF4FFF;
}

.breadcrumbs-link:hover {
  color: #000000;
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-products {
  background: linear-gradient(to right, #e5e5e5 50%, #ffffff 50%);
  position: relative;
}

.catalog-products::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #DCDCDC 50%, #EBEBEB 50%);
  z-index: 1;
}

.catalog-container {
  display: flex;
  position: relative;
  z-index: 2;
}

.catalog-filter-container {
  width: 269px;
}

.catalog-products-title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 26px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.filter-button-show {
  width: 200px;
  display: block;
}

.filter-button-show:hover {
  background-color: #FFC700;
}

.filter-button-show:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #FFC700;
}

.filter-button-show::before {
  background-color: #FFC700;
}

.catalog-right-column {
  width: 832px;
  background-color: #FFFFFF;
  padding-bottom: 77px;
}

.sorting-container {
  align-items: center;
  padding: 20px 72px;
  padding-right: 0;
  margin-bottom: 69px;
  color: #000000;
  background-color: #EBEBEB;
}

.sorting-type {
  margin-right: auto;
}

.sorting-label {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  margin-left: 50px;
  padding: 4px 39px 7px 13px;
  border: none;
  background: url(../img/icons/control-arrow.svg) no-repeat center right 13px;
  background-size: 11px 7px;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
}

.select-control:focus {
  box-shadow: 0 0 0 5px #AF4FFF;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.sorting-link {
  margin: 0;
}

.sorting-button {
  padding: 10px;
  width: 11px;
  height: 10px;
  display: block;
}

.sorting-button:focus {
  box-shadow: 0 0 0 5px #AF4FFF;
}

.sorting-button:hover {
  fill-opacity: 0.5;
}

.sorting-button:active {
  fill-opacity: 1;
}

.sorting-button-to-bottom svg {
  transform: rotate(180deg);
}

.sorting-button-current {
  fill-opacity: 0.2;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  padding-left: 72px;
  margin-bottom: 44px;
}

.product-card {
  display: grid;
  grid-template-columns: 280px 14px 66px;
  grid-template-rows: 412px min-content;
  position: relative;
}

.product-card-image-link {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.product-card-image-link::before {
  position: absolute;
  content: "";
  width: 360px;
  height: 380px;
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8)), url(.jpg);
  opacity: 0;
}

.product-card:focus-within .product-card-image-link {
  box-shadow: 0 0 0 5px #AF4FFF;
}

.product-card:hover .product-card-image-link::before {
  opacity: 0.8;
}

.button-more {
  position: absolute;
  top: 171px;
  left: 100px;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 180px;
  z-index: 1;
  opacity: 0;
}

.product-card:hover .button-more {
  opacity: 1;
}

.button-more:hover {
  background-color: #FFC700;
}

.button-more:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #FFC700;
}

.button-more::before {
  background-color: #FFC700;
}

.product-card-link {
  grid-column: 1/2;
  color: #000000;
  text-decoration: none;
}

.product-card:focus-within .product-card-link h3 {
  color: #AF4FFF;
}

.product-card:focus-within .product-card-link b {
  color: #AF4FFF;
}

.product-card-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-card-link:last-of-type {
  grid-column: 3/4;
  text-align: right;
}

.product-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.product-card:last-child {
  position: relative;
}

.product-card-new {
  position: absolute;
  right: 27px;
  top: 27px;
  padding: 22px 9px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.show-more {
  margin: 0;
  margin-left: 72px;
  margin-bottom: 51px;
  text-align: center;
}

.show-more-link {
  display: block;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.show-more-link:focus {
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.show-more-link:hover {
  box-shadow: inset 0 0 0 3px #000000;
}

.show-more-link:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.pagination {
  margin: 0;
  margin-left: 72px;
  background-color: #EBEBEB;
}

.pagination-item {
  align-self: center;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-link {
  padding: 8px 15px 11px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
  display: block;
}

.pagination-link:focus {
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-current:hover {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-current:active {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-button {
  padding: 26px 29px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.pagination-button:hover {
  color: #000000;
  background-color: #DCDCDC;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #DCDCDC;
}

.pagination-button-current:hover {
  background-color: transparent;
}

.pagination-button-current:active {
  color: #000000;
  background-color: transparent;
}
